.home{
    padding: 40px;
    margin: 20px;
    .row{
        margin-bottom: 40px;
        .num{
            font-size: 26px;
            font-weight: bold;
        }
    }
}
.ant-col{
    padding: 0 20px;
}