.site-layout-background{
    padding: 0 50px;
    box-shadow: rgb(0 21 41 / 8%) 4px 1px 4px;
    position: relative;
}
.img{
        width: 32px;
        height: 32px;
    }
.dropdown{
    float: right;
}